body .container_my {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  body .container_my {
    width: 85%;
  }
}
@media screen and (max-width: 992px) {
  body .container_my {
    width: 95%;
  }
}

body .disabled_my {
  opacity: 0.5;
  pointer-events: none;
}

header {
  background-color: #3aafa9;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-brand .logo_icon {
  width: 46px;
}
header .navbar .navbar-brand p {
  font-size: 35px;
  font-weight: 700;
}
header .navbar .form_search {
  width: 50%;
  margin-left: 216px;
}
@media screen and (max-width: 992px) {
  header .navbar .form_search {
    display: none;
  }
}
header .navbar .form_search input {
  width: 60%;
}
header .navbar .navbar-nav .nav-item:hover .nav-link {
  transition: all 0.7s;
  color: #e3ee6b;
}
header .navbar .navbar-nav .nav-item .nav-link {
  padding: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
header .navbar .navbar-nav .nav-item .nav-link i {
  margin-right: 4px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: #2b7a78;
  border-radius: 20px;
  width: 800px;
  height: 600px;
  overflow-y: auto;
}
@media screen and (max-width: 992px) {
  header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content {
    width: 740px;
  }
}
@media screen and (max-width: 768px) {
  header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content {
    width: 97%;
  }
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content::-webkit-scrollbar {
  width: 0px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-header {
  padding: 6px 16px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-header h5 {
  color: #feffff;
  font-weight: 700;
  font-size: 30px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-header button {
  padding-top: 24px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content {
  width: 100%;
  color: #feffff;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr {
  color: #def2f1;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__sp {
  width: 300px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__sp img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__price {
  text-align: center;
  width: 100px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__quantity {
  text-align: center;
  width: 100px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__quantity span {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__quantity button {
  padding: 0 2px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .table__content .table__listCart tr .td__btn {
  text-align: center;
  width: 100px;
}
header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body .total__money {
  text-align: right;
  margin: 20px 20px 0 0;
  color: #feffff;
  font-size: 20px;
  font-weight: 700;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4000;
}

.carousel {
  position: relative;
}
.carousel .carousel__bg img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel__content {
  position: absolute;
  bottom: -83px;
  left: 0;
  right: 0;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .carousel .carousel__content {
    bottom: -68px;
  }
}
@media screen and (max-width: 992px) {
  .carousel .carousel__content {
    bottom: -50px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel__content {
    display: none;
  }
}
.carousel .carousel__content .slick-prev::before,
.carousel .carousel__content .slick-next::before {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 50px;
  color: #3aafa9;
}
.carousel .carousel__content .slick-prev::before {
  left: 4px;
}
.carousel .carousel__content .slick-next::before {
  left: -30px;
}
@media screen and (max-width: 992px) {
  .carousel .carousel__content .slick-next::before {
    left: -36px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel__content .slick-next::before {
    left: -40px;
  }
}
@media screen and (max-width: 576px) {
  .carousel .carousel__content .slick-next::before {
    left: -50px;
  }
}
.carousel .carousel__content .carousel__item {
  padding: 0 10px;
}
.carousel .carousel__content .carousel__item img {
  border-radius: 20px;
  overflow: hidden;
  width: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .carousel .carousel__content .carousel__item img {
    width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .carousel .carousel__content .carousel__item img {
    width: 326px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel__content .carousel__item img {
    width: 234px;
  }
}

.content {
  margin-bottom: 80px;
}
.content .title {
  text-align: center;
}
.content .title h2 {
  color: #17252a;
  font-weight: 700;
  margin: 150px 0 50px;
}
@media screen and (max-width: 768px) {
  .content .title h2 {
    margin: 50px 0 50px;
  }
}
.content .form-group {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .content .form-group {
    width: 100%;
  }
}
.content .form_cart .card-header {
  background-color: #2b7a78;
  border-radius: 10px 10px 0 0;
  color: #feffff;
}
.content .form_cart .card-header .row button {
  color: #feffff;
  background-color: #3aafa9;
  font-weight: 500;
}
.content .form_cart .card-header .row button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.content .form_cart .myTable #tableDanhSach .td__id {
  text-align: center;
  width: 22px;
}
.content .form_cart .myTable #tableDanhSach .td__name {
  text-align: center;
  width: 300px;
}
.content .form_cart .myTable #tableDanhSach .td__price {
  text-align: center;
  width: 130px;
}
.content .form_cart .myTable #tableDanhSach .td__img {
  width: 100px;
  height: 100px;
}
.content .form_cart .myTable #tableDanhSach .td__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .form_cart .myTable #tableDanhSach .td__btn {
  text-align: center;
  width: 134px;
}
.content .form_cart .myTable #tableDanhSach .td__btn button {
  margin-top: 20px;
}
.content .content_item .row .bg_card .card_item {
  min-height: 350px;
  margin: 14px 0;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px #919494;
}
.content .content_item .row .bg_card .card_item img {
  height: 250px;
  margin-top: 10px;
}
.content .content_item .row .bg_card .card_item .card_item_body {
  margin-top: 8px;
}
.content .content_item .row .bg_card .card_item .card_item_body h4 {
  height: 48px;
}
.content .content_item .row .bg_card .card_item .card_item_body p {
  margin: 10px;
}
.content .content_item .row .bg_card .card_item .card_item_body .card_price {
  margin-top: 20px;
  color: #f3366f;
  font-weight: 700;
}
.content .content_item .row .bg_card .card_item .card_overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #feffff;
}
.content .content_item .row .bg_card .card_item .card_overlay .card_text {
  margin: 50px 0 30px 15px;
  text-align: left;
}
.content .content_item .row .bg_card .card_item .card_overlay .card_link {
  margin: 50px 0 64px;
}
.content .content_item .row .bg_card .card_item .card_overlay .card_link .btn__detail {
  color: #feffff;
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.content .content_item .row .bg_card .card_item .card_overlay .card_link .btn__detail:hover {
  color: #f3366f;
}
.content .content_item .row .bg_card .card_item .card_overlay button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 160px;
  margin: auto;
  padding: 15px 0;
  font-weight: 500;
  border-radius: 30px;
}
.content .content_item .row .bg_card .card_item .card_overlay button:hover {
  font-weight: 500;
  background-color: #66e726;
}
.content .content_item .row .bg_card .card_item .card_overlay:hover {
  opacity: 1;
  transition: all 1s;
}
.content .content__sp h4 {
  font-weight: 700;
}
.content .content__sp .content__sp--left img {
  height: 520px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid #3aafa9;
  border-radius: 20px;
}
.content .content__sp .content__sp--right {
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 20px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .content .content__sp .content__sp--right {
    min-height: 500px;
    background: none;
  }
}
.content .content__sp .content__sp--right h4 {
  text-align: center;
  margin: 30px 0;
}
.content .content__sp .content__sp--right .specifications {
  margin: 0 10px;
}
.content .content__sp .content__sp--right .specifications .specifications__item {
  display: flex;
  justify-content: flex-start;
}
.content .content__sp .content__sp--right .specifications .specifications__item p {
  width: 50%;
}
.content .content__sp .content__sp--right .specifications .specifications__item span {
  width: 50%;
}
.content .content__sp .content__sp--right .price__sp h5 {
  text-align: right;
  font-weight: 700;
  color: #f3366f;
  font-size: 25px;
  margin: 20px 10px 20px 0;
}
.content .content__sp .content__sp--right .specifications__btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 24px;
  bottom: 20px;
  right: 24px;
}
.content .content__sp .content__sp--right .specifications__btn button {
  background-color: #3aafa9;
  padding: 10px 20px;
  color: #feffff;
  border-radius: 15px;
  font-size: 26px;
  font-weight: 700;
}
.content .content__sp .content__sp--right .specifications__btn .btn__buy {
  width: 60%;
}
.content .content__paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content .content__paging .btn__prev,
.content .content__paging .number__page .number__page--item,
.content .content__paging .btn__next {
  border: 2px solid #17252a;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 6px;
}
.content .content__paging .btn__prev:hover,
.content .content__paging .number__page .number__page--item:hover,
.content .content__paging .btn__next:hover {
  background-color: #3aafa9;
}
.content .content__paging .active {
  background-color: #3aafa9;
  color: #feffff;
}
.content .content__paging .number__page {
  display: flex;
}

footer .footer-sub {
  padding: 20px 0 5px;
  background-color: #3aafa9;
}
@media screen and (max-width: 576px) {
  footer .footer-sub .text-txt .row {
    text-align: center;
  }
}
footer .footer-sub .text-txt .row ul {
  padding-left: 0;
}
footer .footer-sub .text-txt .row ul li {
  list-style-type: none;
}
footer .footer-sub .text-txt .row ul li a {
  text-decoration: none;
  color: #000;
}
footer .footer-sub .text-txt .row .contact_content a {
  color: #000;
  text-decoration: none;
}
footer .copyright-footer {
  background-color: #1f343b;
  color: #feffff;
  height: 40px;
  text-align: center;
  line-height: 32px;
}
footer .copyright-footer a {
  color: #3aafa9;
}/*# sourceMappingURL=index.css.map */